input,
select {
    font-family: "Lora", sans-serif;
    height: 2.074rem;
    line-height: 1.3rem;
    border: none;

    background-color: var(--color-white);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12),
        inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.pizza-name-input {
    font-size: 2.074rem;
    width: 100%;
    text-align: center;
}

.pizza-base-select {
    font-size: 1.2rem;
    text-align: center;
}
