<form class="pizza-card {{pizza.base.slug | lowercase}}" *ngIf="pizza && pizzaForm" [formGroup]="pizzaForm"
    (ngSubmit)="edit()">
    <header>
        <h2>
            <input class="pizza-name-input" formControlName="name" type="text">
        </h2>
    </header>
    <div class="image-container">
        <img src="/assets/pizza2.png" alt="{{pizza.name}} photo from above">
    </div>
    <div class="infos">
        <h5 class="pizza-base">
            <select class="pizza-base-select" formControlName="base">
                <option>---Choisir une Base---</option>
                <option *ngFor="let pizzaBase of pizzaBases" [value]="pizzaBase._id">{{pizzaBase.name}}</option>
            </select>
        </h5>
        <select #ingredientSelect (change)="addIngredient(ingredientSelect.value)">
            <option>
                ---Choisir un ingrédient---
            </option>
            <option *ngFor="let ingredient of ingredients" [value]="ingredient._id">
                {{ingredient.name}}
            </option>
        </select>
        <ul class="ingredients-list">
            <li *ngFor="let ingredient of formIngredients" class="ingredient {{ingredient.category.slug | lowercase}}">
                {{ingredient.name}}
                <button class="btn-delete" type="button" (click)="removeIngredient(ingredient)">-</button>
            </li>
        </ul>

    </div>
    <button class="btn-action btn-validate" type="submit"><i class="ph-check"></i></button>
</form>