body {
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
}

.container {
    display: flex;
}

.products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 250px;
    width: 250px;
    margin: 10px;

    box-shadow: 0 1px 3px rgba(0,0, 0, 0.15), 0 1px 2px rgba(0,0, 0, 0.25);
}

.basket-row {
    display: flex;
}

.basket-row > * {
    padding: 10px;
}