<a class="back-button" (click)="goBack()" routerLinkActive="router-link-active">
    Retour
</a> 
<div *ngIf="details" class="drink-details">
    <img class="drink-image" src="{{details.strDrinkThumb}}/preview">
    <h2 class="drink-name">
        {{details.strDrink}}
    </h2>
    <h3 class="drink-category">
        {{details.strCategory}}
    </h3>
    <span *ngIf="details.strAlcoholic === 'Alcoholic'" class="drink-alcoholic">   
        🍾
    </span>
    <span *ngIf="details.strAlcoholic === 'Non Alcoholic'" class="drink-alcoholic">
        🍼
    </span>
    <span class="drink-glass">
        {{details.strGlass}}
    </span>

    <p class="instructions">
        {{details.strInstructions}}
    </p>
    <ul class="drink-ingredients">
        <li class="drink-ingredient" *ngFor="let ingredient of ingredients">
            <span class="ingredient-name">
                {{ingredient.name}} 
            </span>
            <span class="ingredient-measure">
                {{ingredient.measure}}
            </span>
        </li>
    </ul>
</div>