.drink-details {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.drink-image {
    height: 150px;
}

.drink-ingredients {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.drink-ingredient {
}