<p>city-search works!</p>
<input [(ngModel)]="cityName">
<button (click)="getCity()">go</button>

<div *ngIf="cities">
    <div *ngFor="let city of cities">
        <a [routerLink]="['weather', {lat: city.lat, lon: city.lon}]">
            <span class="fullName">{{city.display_name}}</span>
        </a>
        
    </div>
</div>