<input #taskInput>
<button (click)="addTask(taskInput.value)">ok</button>


<ul>
    <li *ngFor="let task of tasks">
        <span (click)="completeTask(task)" [class.complete]="task.complete">
            {{task.id}} : {{task.label}} <button (click)="deleteTask(task)">x</button>
        </span>
    </li>
</ul>