<div *ngIf="products">
    <div *ngFor="let product of products">
        <a [routerLink]="['/product', product._id]">
            <span>
                id: {{product._id}}
            </span>
            <span>
                name: {{product.name}}
            </span>
            <span>
                description: {{product.description}}
            </span>
            <span>
                price: {{product.price}}
            </span>
        </a>
    </div>
</div>