/* google fonts permet d'importer des fontes depuis internet et les utiliser via font-family*/

@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
/*@font-face permet de créer une font family pour utiliser une police téléchargée et stockée dans le dossier projet*/

@font-face {
  font-family: "MaFonte";
  src: "fonts/MaFonte.ttf";
}

h1 {
  font-family: "Bree Serif";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
}


.identite {
  flex-grow: 3;
  border: 3px solid red;
}

.photo {
  border: 3px solid green;
  flex-grow: 2;
}

nav {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.soussection {
  display: flex;
  flex-wrap: wrap;
  background-color: brown;
}

.soussection section {
  margin: 0;
  min-width: 300px;
  width: 50%;
  flex-grow: 1;
}

.container {
  display: flex;
}

.coordonnees {
  background-color: green;
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}

.coordonnees span:nth-child(2){
  color: blue;
}


section {
  background-color: cyan;
  margin: 5px;
}

footer {
  height: 200px;
}

footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
