<div *ngIf="hero">
    <h2>
        {{hero.name | uppercase}}
    </h2>
    <div><span>id: </span>{{hero.id}}</div>
    <label>
        name:
        <input [(ngModel)]="hero.name" />
    </label>
    <button (click)="save()">save</button>
</div>

