{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.username, {label: "Nom d'utilisateur"}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot De Passe'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
