body {
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.userCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /*dégradé pour faire une barre en haut de notre card*/
    background: linear-gradient(180deg,rgba(0,56,255,1) 25%, rgba(255,255,255,1) 25%);

    margin: 10px;

    border-radius: 5px;

    width: 250px;
    height: 250px;

    box-shadow: 0 1px 3px rgba(0,0, 0, 0.15), 0 1px 2px rgba(0,0, 0, 0.25);

    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.userCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.20);
}

.userName {
    font-size: 1.3rem;
}

.userEmail {
    color: #757575
}

.userAvatar {
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0, 0, 0.09), 0 1px 2px rgba(0,0, 0, 0.17);
    background-color: white;
}

.userGender {
    font-size: 2rem;
}

.male {
    color : #3f51b5;
}
.female {
    color: #e91e63
}


#userSearch {
    border: none;
    background-color: white;
    border-bottom: 2px solid #757575;
}

#userSearch:focus {
    border-color: #3f51b5;
}