.container {
    display: flex;
    flex-direction: column;
}

.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    align-self: flex-start;
    display: flex;
    max-width: 100vw;
    height: 50px;
    width: 100%;
}

header > img {
    height: 100%;
}

img {
    max-width: 100vw;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    width: 100%;
}


@media screen and (min-width: 468px) {
    header {
        height: 75px;
    }
}
@media screen and (min-width: 760px){
    header {
        justify-content: space-between;
        height: 100px;
    }
    nav {
        width: 50%;
    }
    nav ul {
        justify-content: space-between;
    }
}

.banner {
    background-image: url('./scoot1.jpg');
    background-size: cover;
}