<div *ngIf="product">
    <span>
        id: {{product._id}}
    </span>
    <span>
        name: {{product.name}}
    </span>
    <span>
        description: {{product.description}}
    </span>
    <span>
        price: {{product.price}}
    </span>
</div>
<a (click)="goBack()" href="">back</a>