{% extends 'base.html.twig' %}

{% block title %} Ecrire Article {% endblock %}

{% block body %}
    {{ form_start(addForm) }}
        {{ form_row(addForm.title, {label: "Titre",  attr: {class: "form-black"}}) }}
        {{ form_row(addForm.content, {label: "Contenu"}) }}
    {{ form_end(addForm) }}
{% endblock %}