{% extends 'base.html.twig' %}
{% block stylesheets %}
	{# parent() permet de récupérer les informations du bloc parent pour les conserver au lieu de les écraser#}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('css/article.css')}}">
{% endblock %}
{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}
	<div>
		<h2>
			{{article.title}}
		</h2>
		{# Pour afficher un objet de type DateTime, il faut d'abord le faire passer dans un filtre qui va le formater en texte, le filtre date() permet de spécifier un format de Date à afficher  #}
		<h3>
			posté le
			{{article.createdOn | date('d/m/Y h:i')}}
		</h3>
		<p>
			{{article.content}}
		</p>
		{% if app.user and app.user == article.author %}
		<a href="{{ path('blog_update', {'id' : article.id } ) }}">
			<button>Modifier</button>
		</a>
		<a href="{{ path('blog_delete', {'id' : article.id } ) }}">
			<button>Supprimer</button>
		</a>
		{% endif %}
	</div>
{% endblock %}