{% extends 'base.html.twig' %}

{% block title %}
    Accueil Blog
{% endblock %}

{% block body %}
    {% for article in articles %}
    <div>
    {# pour générer un lien dans twig on utilise la fonction path qui génère l'url correspondant à une route#}
    {# pour faire passer un paramètre à path, on fait passer des couples clé valeur #}
    <a href="{{ path('blog_article', {'id' : article.id }) }}"> {# tchtchk #}
        <h2> {{article.title | upper}} </h2>
    </a>
        {# Pour afficher un objet de type DateTime, il faut d'abord le faire passer dans un filtre qui va le formater en texte, le filtre date() permet de spécifier un format de Date à afficher  #}
        <h3> posté le {{article.createdOn | date('d/m/Y h:i')}} </h3>
        <h3> par : 
        {% if article.author %}
            {{article.author}} 
        {% else %}
            Anonyme        
        {% endif %}
        </h3>
        <p>
            {{article.content|purify}}
        </p>
        {% if app.user and app.user == article.author %}
        <a href="{{ path('blog_update', {'id' : article.id } ) }}"><button>Modifier</button></a>
        <a href="{{ path('blog_delete', {'id' : article.id } ) }}"><button>Supprimer</button></a>    
        {% endif %}
        
    </div>
    {% endfor %}
{% endblock %}