{% extends 'base.html.twig' %}

{% block title %}
	Créer Annonce
{% endblock %}
{% block body %}
	<div class="form_container">
		{{form_start(create_form)}}
            {{form_row(create_form.title)}}
            {{form_row(create_form.description)}}
            {{form_row(create_form.price)}}
            {{form_row(create_form.isToBeDiscussed)}}
            {{form_row(create_form.category)}}
            {{form_row(create_form.images)}}
            <div id="advert_image_fields">
            </div>
            <a href="#" id="add_image">+ Add Image</a>
            {{form_row(create_form.submit)}}
        {{form_end(create_form)}}

	</div>

    <script type="text/javascript">
        let addImage = document.getElementById('add_image');
        addImage.addEventListener('click', (event) => {
            let advertImages = document.getElementById('advert_images');
            let prototype = advertImages.getAttribute('data-prototype'); //on récupère le HTML correspondant à notre champ de formulaire
            
            let advertImagesFields = document.getElementById('advert_image_fields');
            let imageFieldsCount = advertImagesFields.childElementCount; 

            prototype = prototype.replace(/__name__/g, imageFieldsCount); //on remplace tous les __name__ dans le html du champ de formulaire par un numéro
            prototype = prototype.replace(/\d+label__/g, `Image ${imageFieldsCount + 1}`); //on remplace tous les nlabel__ par quelque chose de lisible
            
            //on transforme le texte HTML en éléments du DOM pour insertion 
            let formField = new DOMParser().parseFromString(prototype, 'text/html').body.firstChild;

            //on ajoute ensuite notre morceau de formulaire généré à notre div
            advertImagesFields.appendChild(formField);

        });
    </script>
{% endblock %}
