{% extends 'base.html.twig' %}

{% block title %}
	Accueil Annonces
{% endblock %}

{% block body %}
	{% for advert in adverts %}
		<div class="annonce">
			<div class="annonce-head">
				<div class="annonce-images">
					{% for image in advert.images %}
						<img src="{{vich_uploader_asset(image, 'file')}}" alt="{{advert.title}} image">
					{% endfor %}
				</div>
				<h2 class="annonce-title">
					{{advert.title}}
				</h2>
				<h3>
                    {# format_currency nécessite d'installer twig/intl-extra #}
                    {# on divise le prix par 100, car on le stocke en centimes pour éviter les erreurs d'arrondi #}
					{{(advert.price / 100)| format_currency('EUR')}}
                </h3>
                <span class="annonce-location">
                    {{advert.location}}
                </span>
				<span class="annonce-date">
					{{advert.createdOn | date('d/m/Y h:i:s')}}
				</span>
				<span class="discuss">
					{% if advert.isToBeDiscussed %}
						Prix à débattre
					{% else %}
						Non Négociable
					{% endif %}

				</span>
			</div>
			<div class="annonce-description">
				{{advert.description | purify}}
			</div>


		</div>
	{% endfor %}
{% endblock %}

