.container {
    color: red;
    font-size: 1.5em;
}

/** cette règle là s'appliquera pour les écrans d'une largeur minimale de 720px, et d'une hauteur minimale de 540px**/
@media screen and (min-width: 720px) and (min-height: 540px) {
    .container {
        font-size: 3em;
    }
}

/** cette règle s'appliquera pour tout écran donc la hauteur dépasse la largeur  **/
@media screen and (orientation: portrait){
    .container {
        color: blue;
    }
}