.ok {
    color: #ffc107;   
}

.good {
    color: #4caf50;
}

.bad {
    color: #f44336;
}

.password-ok {
    background-color:  #ffc107;
    display: block;
    height: 10px;
    width: 100px;
}

.password-good {
    background-color: #4caf50;
    display: block;
    height: 10px;
    width: 150px;
}

.password-bad {
    background-color: #f44336;
    display: block;
    height: 10px;
    width: 50px;
}

#eye {
    height: 25px;
    width: 25px;
}