@font-face {
    font-family: "Lora";
    src: url('fonts/Lora/Lora-Regular.ttf');    
}

@font-face {
    font-family: "Merriweather";
    src: url('fonts/Merriweather/Merriweather-Regular.ttf');    
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Merriweather', sans-serif;
    color: #222;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif;
}

header {
    flex-grow: 1;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex-grow: 10;
    color: white;
    font-size: 1.3rem;
}

nav {
    flex-grow: 1;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Overflow Hidden pour empêcher la bannière de dépasser*/
    overflow: hidden;
}

.hero {
    height: 600px;
    background-image: url('./img/hero.jpg');
    box-sizing: border-box;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /*pour adoucir l'arrondi, j'agrandis ma div pour que les bords soient en dehors de l'écran*/
    width: 150%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.hero-body {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-body > * {
    margin: 20px 0;
}

.hero h1 {
    color: white;
    font-size: 3rem ;
}

.hero-text {
    font-size: large;
    color: #f5ddbd;
    text-shadow: 0 1px 2px #222;
}

.hero-call {
    margin-top: 20px
}

.btn {
    color: white;
    background-color: #c70039;
    padding: 15px;
    border-radius: 3px;
}

.btn:hover {
    background-color: #ad0031;
}

.info {
    width: 80%;
    margin: 20px 0;
    display: flex;
    align-items: flex-end;
}

.info > * {
    margin: 0 25px;
}

.info aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info aside > * {
    margin: 12px 0;
}
.content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info aside h2 {
    color: #f37121
}

.gallery {
    height: 400px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-body {
    font-size: small;
}

.img {
    margin: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img > * {
    margin: 20px;
}
.img2 {
    height: 70%;
}

img{
    height: 100%;
    object-fit: contain;
}

