/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lora:400");

/* https://coolors.co/5a290d-54750d-f6ebdc-e94017-eb9a02 */
/* https://coolors.co/0e161b-fee2ae-764527-eedabe-5c810e-a9b675-f6ebdc-e94017-eb9a02 */
/* https://coolors.co/070b0d-f4796b-fee2ae-995a33-eedabe-5c810e-bdc794-f6ebdc-e94017-eb9a02 */
:root {
    --color-brown: #995a33;
    --color-green: #54750d;
    --color-light-green: #bdc794;
    --color-white: #fdfef9;
    --color-cream: #f6ebdc;
    --color-red: #e94017;
    --color-yellow: #eb9a02;
    --color-grey: #0e161b;
    --color-black: #070b0d;
    --color-pink: #f4796b;
}

/* fonts */
html {
    font-size: 100%;
} /*16px*/

body {
    background-color: var(--color-black);
    background-image: url("/assets/green-dust-and-scratches.png");
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 1.75;
    color: white;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-white);
    margin: 3rem 0 1.38rem;
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {
    color: var(--color-cream);
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.833rem;
}

button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.24),
        inset 0 1px 2px rgba(0, 0, 0, 0.48);
}

button.btn-action {
    line-height: 1.3rem;
    font-size: 1.44rem;
    height: 2.074rem;
}

button.btn-delete {
    background-color: var(--color-red);
    color: var(--color-white);
    font-weight: bold;
}

button.btn-validate {
    background-color: var(--color-green);
    color: var(--color-white);
    font-weight: bold;
}

button.btn-pressed {
    background-color: blue;
}
