<div>
    <h2>
        Ajouter pizza :
    </h2>

    <!-- pour lier un <form> à son FormGroup on utilise [formGroup] -->
    <!-- (ngSubmit) permet de définir l'action au moment de l'envoi du formulaire -->
    <form *ngIf="formAdd" [formGroup]="formAdd" (ngSubmit)="add()">
        <label>
            Nom:
            <input formControlName="name" type="text">
        </label>
        <label>
            base :
            <select formControlName="base">
                <option>---Choisir une Base---</option>
                <option *ngFor="let pizzaBase of pizzaBases" [value]="pizzaBase._id">{{pizzaBase.name}}</option>
            </select>
        </label>
        <label>
            ingredients :
            <select #ingredientSelect (change)="newIngredient(ingredientSelect.value)">
                <option>
                    ---Choisir un ingrédient---
                </option>
                <option *ngFor="let ingredient of ingredients" [value]="ingredient._id">
                    {{ingredient.name}}
                </option>
            </select>
            <div *ngFor="let ingredient of formIngredients">
                {{ingredient.name}}
                <button type="button" (click)="removeIngredient(ingredient)">-</button>
            </div>
        </label>
        <!-- le type submit permet de déclencher ngSubmit-->
        <button type="submit">Creer</button>
    </form>
</div>