<form [formGroup]="formCreate" (ngSubmit)="create()">
    Name: 
    <input formControlName="name" type="text">
    Width:
    <input formControlName="width" type="number">
    Height: 
    <input formControlName="height" type="number">
    Landscape:
    <input formControlName="landscape" type="checkbox">
    <button type="submit">create</button>
</form>