<div class="container">
    <div class="currentForecast" *ngIf="current">
        Current Weather: 
        {{ current.dt * 1000 | date:"MMMM d, H:mm"}}
        {{current.temp}}°C
    </div>
    
    <div class="hourlyForecast" *ngIf="hourly">

        <div class="chart-wrapper">
            <canvas baseChart 
                [datasets]="hourlyChart.lineChartData" 
                [labels]="hourlyChart.lineChartLabels" 
                [options]="hourlyChart.lineChartOptions"
                [colors]="hourlyChart.lineChartColors" 
                [legend]="hourlyChart.lineChartLegend" 
                [chartType]="hourlyChart.lineChartType" 
                [plugins]="hourlyChart.lineChartPlugins">
            </canvas>
        </div>

        Hourly Forecast :
        <div class="hf" *ngFor="let hf of hourly">
            {{ hf.dt * 1000 | date:"MMMM d, H:mm"}}h
            {{hf.temp}}°C
        </div>
    </div>
    
    <div class="dailyForecast" *ngIf="daily">

        <div class="chart-wrapper">
            <canvas baseChart 
                [datasets]="dailyChart.lineChartData" 
                [labels]="dailyChart.lineChartLabels" 
                [options]="dailyChart.lineChartOptions"
                [colors]="dailyChart.lineChartColors" 
                [legend]="dailyChart.lineChartLegend" 
                [chartType]="dailyChart.lineChartType" 
                [plugins]="dailyChart.lineChartPlugins">
            </canvas>
        </div>

        Daily Forecast: 
        <div class="df" *ngFor="let df of daily">
            {{ df.dt * 1000 | date:"MMMM d, H:mm"}}
            {{df.temp.day}}°C
        </div>
    </div>

</div>