.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hourlyForecast, .dailyForecast, .currentForecast {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.df, .hf {
    margin: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
}

canvas {
    height: 500px;
}