<div *ngIf="ingredients">
    <div *ngFor="let ingredient of ingredients">
        {{ingredient.name}}
    </div>
</div>

<div>
    Ajouter ingrédient :

    <label>
        nom:
        <input type="text" #ingredientName>
    </label>
    <button (click)="add(ingredientName.value)">Créer</button>
</div>