.container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cocktail {
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cocktail a {
    text-decoration: none;
    color: #212121;
    position: relative;
}

.cocktail-vignette {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}