ul {
    list-style-type: none;
    width: 200px;
}

li {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
    margin: 5px;
}

li:hover {
    color: #607D8B;
    background-color: #DDD;
}

.badge {
    background-color: #405061;
    color: white;
    padding: 2px;
    border-radius: 4px 0px 0px 4px;
    margin-right: 5px;
}

.selected {
    background-color: #CFD8DC;
    color: white;
}

.selected:hover {
    background-color: #BBD8DC;
    color: white;
}