<div>
    <label>
        New Hero Name: 
        <input #heroName type="text">
    </label>

    <button (click)="addHero(heroName.value); heroName.value = ''">
        add
    </button>
</div>

<ul>
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>
            <span>{{hero.name}}</span>
        </a>
        <button (click)="deleteHero(hero)">X</button>
    </li>
</ul>

