<div class="dialog-box">
    <div class="message">
        {{message}}
    </div>
    <div class="actions">
        <button (click)="confirm()" type="button" class="btn-{{action}}">{{action | titlecase}}</button>
        <button (click)="cancel()" type="button">Cancel</button>
    </div>
</div>