.pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pizza-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pizza-actions {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
