<input [formControl]="pizzaSearchControl">

<button type="button" (click)="toggleCreateMode()">Création d'une pizza</button>
<div *ngIf="createMode">
    <app-pizza-create (newPizza)="onNewPizza($event)"></app-pizza-create>
</div>
<div class="pizza-list" *ngIf="pizzeResults">
    <div class="pizza-container" *ngFor="let pizza of pizzeResults; index as i">
        <div class="pizza-actions">
            <button class="btn-action btn-edit" [class.btn-pressed]="pizza.editMode" type="button"
                (click)="toggleEdit(pizza)"><i class="ph-pencil"></i></button>
            <button class="btn-action btn-delete" (click)="delete(pizza.pizza)" type="button"><i
                    class="ph-trash"></i></button>

        </div>
        <div *ngIf="pizza.editMode; else pizzaView">
            <app-pizza-modify (edited)="onEdit($event, i)" [pizza]="pizza.pizza"></app-pizza-modify>
        </div>
        <ng-template #pizzaView>
            <app-pizza-view [pizza]="pizza.pizza">
            </app-pizza-view>
            <app-dialog message="Voulez vous supprimer {{pizza.pizza.name}} ?" action="delete"
                *ngIf="pizzaToDelete == pizza.pizza" (confirmation)="onDeleteConfirmation($event, pizza.pizza)">
            </app-dialog>
        </ng-template>
    </div>
</div>