.pizza-card {
    --card-border-radius: 5px;

    color: #0101;

    width: 300px;
    background-color: transparent;
    border-radius: var(--card-border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza-card header {
    border-radius: var(--card-border-radius);
}

.image-container img {
    width: 100%;
}

.infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    background-color: var(--color-cream);
    padding: 10px;

    border: double var(--color-brown) 3px;
}

.pizza-base {
    width: 100%;
    margin-top: 1.38rem;
    color: var(--color-brown);
    text-align: center;
    position: relative;
}

.ingredients-list {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

.ingredient {
    color: var(--color-black);
    padding: 0.25rem;
    height: 20px;
    line-height: 20px;

    margin: 0.25rem 0.3rem;
}

.ingredient:before,
.ingredient:after {
    color: var(--color-brown);
    content: "⬦";
}

.fromage:after,
.fromage:before {
    color: var(--color-yellow);
}

.legumes:after,
.legumes:before {
    color: var(--color-green);
}

.aromates:after,
.aromates:before {
    color: var(--color-light-green);
}

.viande:after,
.viande:before {
    color: var(--color-brown);
}

.poisson:after,
.poisson:before {
    color: var(--color-pink);
}

.condiments:after,
.condiments:before {
    color: var(--color-black);
}
