<div class="pizza-card {{pizza.base.slug | lowercase}}" *ngIf="pizza">
    <header>
        <h2>
            {{pizza.name}}
        </h2>
    </header>
    <div class="image-container">
        <img src="/assets/pizza1.png" alt="{{pizza.name}} photo from above">
    </div>
    <div class="infos">
        <h5 class="pizza-base">
            {{pizza.base.name}}
        </h5>
        <ul class="ingredients-list">
            <li *ngFor="let ingredient of pizza.ingredients"
                class="ingredient {{ingredient.category.slug | lowercase}}">
                {{ingredient.name}}
            </li>
        </ul>

    </div>
</div>