<h2>weather: </h2>
<div *ngIf="forecastData">
    <div>
        Current temp :   
        {{forecastData.current.temp | number:'1.0-0'}}°C

    </div>

    <div>
        7 days Forecast  :
        <div *ngFor="let day of forecastData.daily">
            {{ day.dt * 1000 | date:'d/MM/y'}} 
            max: {{ day.temp.max | number:'1.0-0'}}°C
        </div>
    </div>

</div>
