.keyboard {
    display: flex;
}
#screen {
    /*
    pour bruno
    */
    width: 243px;
    text-align: right;
}
.key {
    width: 50px;
    height: 50px;
}

.numbers {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operations {
    width: 150px;
}