<div class="container" *ngIf="cocktails">
    <div class="cocktail" *ngFor="let drink of cocktails">
        <a class="cocktail-link" [routerLink]="['/cocktails', drink.idDrink]">
            <div class="cocktail-vignette" [ngStyle]="{backgroundImage:'url('+drink.strDrinkThumb+')'}">
                <span>
                    {{drink.strDrink}} {{getRandomEmoji()}}
                </span>
            </div>
        </a>
    </div>
</div>