.container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cocktail {
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cocktail-link {
    text-decoration: none;
}

.cocktail-vignette {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.cocktail-vignette:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.cocktail-vignette span{
    text-align: center;
    background-color: rgba(0,0,0,0.24);
    width: 100%;
    color: white;
}