<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Mon Super Blog</h1>
        <nav>
            <ul>
                <li><a href="{{path('blog_index')}}">Accueil</a></li>
                <li><a href="{{path('blog_add')}}">Ecrire</a></li>
                {# pour récuperer l'utilisateur courant dans twig on utilise app.user 
                app est une variable globale toujours présente dans les templates twig de symfony qui permet d'accéder à certaines variables de session propres au fonctionnement de l'application #}
                {% if not app.user %}
                <li><a href="{{path('app_register')}}">S'inscrire</a></li>
                <li><a href="{{path('app_login')}}">Se connecter</a></li>
                {% endif %}
                {# is_granted permet de vérifier l'appartenance à un rôle particulier chez l'utilisateur connecté #}
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{path('easyadmin')}}">Administration</a></li>
                {% endif %}
                
                
            </ul>

            {% if app.user %}
            <ul>
                {# valeur1 ?? valeur2 signifie que si valeur1 null, alors valeur2 est utilisée a la place#}
                <li><img src="{{asset('uploads/userPictures/') ~ app.user.picture ?? 'default.png'}}" alt="user picture"></li>
                <li><a href="#">Profil</a></li>
                <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>
            </ul>
            {% endif %}
            
        </nav>


        
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
